<!-- The main background graphic -->
<header id="header">

 <div class="container">
     <!-- Navigation -->
     <div class="header">
                 <h1 class="logo"><a href="/">FourEyes</a></h1>
     </div>
     <!-- main content -->
     <div class="text-center wrap">
    </div>
</header>
