<!doctype html>
<html>

<head>
  <!--Favicon stuff -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Meta -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--CSS-->
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <!-- Google fonts-->
  <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet"
    type="text/css" />
  <title>FourEyes</title>
</head>

<body>
  <header class="logoHeader">
    <img class="logo" src="/img/foureyesonly.png" alt="logo">
  </header>
  <form action="/v1/Search" method="POST" style="padding:10px">
    <input class="keywordInput" type="text" name="keywords" placeholder="keywords">
    <input class="numInput" type="text" name="numOfArt" placeholder="1">
    <input type="text" id="datepicker" placeholder="date(optional)">
    <input id="keySubmit" type="submit" value="submit">
  </form>
  <section class="articleList">
    <article class="article">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, tellus non aliquam feugiat, felis nibh malesuada mauris, id convallis lorem sem a nulla. Sed consequat magna sit amet lorem mollis dictum. Praesent quis efficitur magna. Curabitur purus quam, semper nec vulputate nec, gravida vehicula quam. Etiam ac ipsum mollis, commodo lorem sit amet, sagittis nibh. Duis interdum turpis vel est eleifend imperdiet. Maecenas porttitor, libero sed vulputate ultrices, dolor tortor semper odio, congue cursus quam odio ut turpis. Aliquam posuere cursus posuere. Praesent malesuada ultrices est et placerat. Integer ut luctus enim. Duis eleifend neque in sapien scelerisque mattis. Mauris et nulla at nisl mollis sollicitudin vel vel risus. Sed porttitor vitae est non vestibulum. Vivamus mollis eros quis sem laoreet porta at in mi.

      Cras cursus augue vel efficitur varius. Nulla malesuada efficitur magna sit amet rhoncus. Curabitur sit amet augue ut velit scelerisque dictum ac fringilla est. Nulla facilisi. In ex eros, tincidunt vitae odio non, laoreet maximus est. Aenean dolor odio, ultricies vel feugiat consequat, semper ut libero. Pellentesque non turpis quis tellus imperdiet feugiat in ac mi. Nulla lobortis posuere efficitur. Sed et accumsan metus. Suspendisse sit amet magna id justo volutpat tempor quis vitae lacus. Morbi a volutpat turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent maximus lectus sapien, at molestie odio semper id. Integer auctor enim vel nulla viverra gravida. Proin eu ipsum turpis. Curabitur vitae justo justo.</p>
      <ul>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
      </ul>
      <p>keyword, keyword, keyword</p>
    </article>
    <article class="article">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, tellus non aliquam feugiat, felis nibh malesuada mauris, id convallis lorem sem a nulla. Sed consequat magna sit amet lorem mollis dictum. Praesent quis efficitur magna. Curabitur purus quam, semper nec vulputate nec, gravida vehicula quam. Etiam ac ipsum mollis, commodo lorem sit amet, sagittis nibh. Duis interdum turpis vel est eleifend imperdiet. Maecenas porttitor, libero sed vulputate ultrices, dolor tortor semper odio, congue cursus quam odio ut turpis. Aliquam posuere cursus posuere. Praesent malesuada ultrices est et placerat. Integer ut luctus enim. Duis eleifend neque in sapien scelerisque mattis. Mauris et nulla at nisl mollis sollicitudin vel vel risus. Sed porttitor vitae est non vestibulum. Vivamus mollis eros quis sem laoreet porta at in mi.

      Cras cursus augue vel efficitur varius. Nulla malesuada efficitur magna sit amet rhoncus. Curabitur sit amet augue ut velit scelerisque dictum ac fringilla est. Nulla facilisi. In ex eros, tincidunt vitae odio non, laoreet maximus est. Aenean dolor odio, ultricies vel feugiat consequat, semper ut libero. Pellentesque non turpis quis tellus imperdiet feugiat in ac mi. Nulla lobortis posuere efficitur. Sed et accumsan metus. Suspendisse sit amet magna id justo volutpat tempor quis vitae lacus. Morbi a volutpat turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent maximus lectus sapien, at molestie odio semper id. Integer auctor enim vel nulla viverra gravida. Proin eu ipsum turpis. Curabitur vitae justo justo.</p>
      <ul>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
      </ul>
      <p>keyword, keyword, keyword</p>
    </article>
    <article class="article">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, tellus non aliquam feugiat, felis nibh malesuada mauris, id convallis lorem sem a nulla. Sed consequat magna sit amet lorem mollis dictum. Praesent quis efficitur magna. Curabitur purus quam, semper nec vulputate nec, gravida vehicula quam. Etiam ac ipsum mollis, commodo lorem sit amet, sagittis nibh. Duis interdum turpis vel est eleifend imperdiet. Maecenas porttitor, libero sed vulputate ultrices, dolor tortor semper odio, congue cursus quam odio ut turpis. Aliquam posuere cursus posuere. Praesent malesuada ultrices est et placerat. Integer ut luctus enim. Duis eleifend neque in sapien scelerisque mattis. Mauris et nulla at nisl mollis sollicitudin vel vel risus. Sed porttitor vitae est non vestibulum. Vivamus mollis eros quis sem laoreet porta at in mi.

      Cras cursus augue vel efficitur varius. Nulla malesuada efficitur magna sit amet rhoncus. Curabitur sit amet augue ut velit scelerisque dictum ac fringilla est. Nulla facilisi. In ex eros, tincidunt vitae odio non, laoreet maximus est. Aenean dolor odio, ultricies vel feugiat consequat, semper ut libero. Pellentesque non turpis quis tellus imperdiet feugiat in ac mi. Nulla lobortis posuere efficitur. Sed et accumsan metus. Suspendisse sit amet magna id justo volutpat tempor quis vitae lacus. Morbi a volutpat turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent maximus lectus sapien, at molestie odio semper id. Integer auctor enim vel nulla viverra gravida. Proin eu ipsum turpis. Curabitur vitae justo justo.</p>
      <ul>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
      </ul>
      <p>keyword, keyword, keyword</p>
    </article>
    <article class="article">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, tellus non aliquam feugiat, felis nibh malesuada mauris, id convallis lorem sem a nulla. Sed consequat magna sit amet lorem mollis dictum. Praesent quis efficitur magna. Curabitur purus quam, semper nec vulputate nec, gravida vehicula quam. Etiam ac ipsum mollis, commodo lorem sit amet, sagittis nibh. Duis interdum turpis vel est eleifend imperdiet. Maecenas porttitor, libero sed vulputate ultrices, dolor tortor semper odio, congue cursus quam odio ut turpis. Aliquam posuere cursus posuere. Praesent malesuada ultrices est et placerat. Integer ut luctus enim. Duis eleifend neque in sapien scelerisque mattis. Mauris et nulla at nisl mollis sollicitudin vel vel risus. Sed porttitor vitae est non vestibulum. Vivamus mollis eros quis sem laoreet porta at in mi.

      Cras cursus augue vel efficitur varius. Nulla malesuada efficitur magna sit amet rhoncus. Curabitur sit amet augue ut velit scelerisque dictum ac fringilla est. Nulla facilisi. In ex eros, tincidunt vitae odio non, laoreet maximus est. Aenean dolor odio, ultricies vel feugiat consequat, semper ut libero. Pellentesque non turpis quis tellus imperdiet feugiat in ac mi. Nulla lobortis posuere efficitur. Sed et accumsan metus. Suspendisse sit amet magna id justo volutpat tempor quis vitae lacus. Morbi a volutpat turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent maximus lectus sapien, at molestie odio semper id. Integer auctor enim vel nulla viverra gravida. Proin eu ipsum turpis. Curabitur vitae justo justo.</p>
      <ul>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
        <li>www.exam</li>
      </ul>
      <p>keyword, keyword, keyword</p>
    </article>
  </section>
  {{{body}}}
  <!-- JS-->
  <script type="javascript">
  $(function() {
    $("#datepicker").datepicker({
      showOtherMonths: true,
      selectOtherMonths: true,
    });
  });
  </script>
  <script src="/assets/js/jquery-1.11.2.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/skrollr.min.js"></script>
  <script src="/assets/js/classie.js"></script>
  <script src="/assets/js/jquery.doubletaptogo.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/jquery.countTo.js"></script>
  <script src="/assets/js/app.min.js"></script>
</body>

</html>
