<!doctype html>
<html>

<head>
    <!--Favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- Meta -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://dev.thinkpredict.com:3000/assets/css/app.css" />
    <!-- Google fonts-->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet"
        type="text/css" />
    <style>
        .video-responsive {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }
        
        .video-responsive iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    </style>

    <!--Google analytics -->
    <title>FourEyes</title>
</head>

<body>
    {{> navigation}}
    {{{body}}}
    <!-- Footer-->
    <footer id="footer">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 i">
                        <h2>BLAH</h2>
                        <div class="content">+1 (206) 555-1212<br><a href="#" title="#">no-one@blah.com</a></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 i">Copyright &copy; 2017 <a title="ThinkPredict">Team FourEyes</a></div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS-->
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/skrollr.min.js"></script>
    <script src="/assets/js/classie.js"></script>
    <script src="/assets/js/jquery.doubletaptogo.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.countTo.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="//dptha8f98z1d5.cloudfront.net/plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "600",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        function getUrlParams() {
            var match,
                pl = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query = window.location.search.substring(1);

            var urlParams = {};
            while (match = search.exec(query)) {
                if (!urlParams[decode(match[1])]) {
                    urlParams[decode(match[1])] = decode(match[2]);
                } else {
                    urlParams[decode(match[1])] += "," + decode(match[2]);
                }
            }
            urlParams.hash = window.location.hash;
            return urlParams;
        };

        $(document).ready(function () {

            $("#btnSubscribe").click(function (e) {

                e.preventDefault();
                e.stopPropagation();

                var email_regex = /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+\.)+[a-zA-Z0-9.-]{2,4}$/;
                var name = $('#inputEmail').val().trim();
                if (!name || !name.match(email_regex)) {
                    toastr.warning("Not a valid email address. Please correct your input!");
                    return false;
                }

                $.ajax({
                    url: "/v1/subscribe-tp-news",
                    type: 'POST',
                    crossDomain: false,
                    data: JSON.stringify({
                        email: name
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        $('#inputEmail').val("");
                    },
                    complete: function () {
                        toastr.success("Thank you for your interest.");
                    }
                });
            });

            var urlParams = getUrlParams();
            if (urlParams.unsub === "true") {
                toastr.success("You have successfully unsubscribed from updates from this channel. ")
                if (history.pushState) {
                    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                    window.history.pushState({ path: newurl }, '', newurl);
                }
            }
        });

    </script>

</body>

</html>