<!-- Features-->
<section id="features" class="section features">
    <div class="container">
        <header class="text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
                    <h2>Hello World</h2>
                </div>
            </div>
        </header>
    </div>
</section>